# Import des bibliothèques nécessaires

In [1]:
import pandas as pd

# Récupération des données

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

# 0. Regarde à  quoi ressemblent les données

1. Affiche quelques données
2. Regarde les types des données avec l'attribut .dtypes

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

# 1. On va convertir la colonne des prix en flottants
1. crée une liste contenant toutes les valeurs en flottant
2. remplace la colonne item_price par cette liste

In [5]:
# Enlever le dollar (value[0]) de chaque chaine de caractères et convertir en flottants
prices = [float(value[1 : -1]) for value in chipo.item_price]

# remplacer la colonne
chipo.item_price = prices

In [6]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

# Récupère quelques stats descriptives

In [7]:
chipo.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

# Compte le nombre d'objets à la carte

utilise .nunique

In [8]:
chipo.item_name.nunique()

50

# Calcule le prix de chaque commande (order en anglais) avec groupby et stocke la série dans une variable appelée commandes

In [9]:
commandes = chipo.groupby('order_id')['item_price'].sum()
commandes.head(5)

order_id
1    11.56
2    16.98
3    12.67
4    21.00
5    13.70
Name: item_price, dtype: float64

# Quelles sont les 5 commandes les plus chères ? 
Trie la série de manière décroissante avec sort_values en passant l'argument ascending = False

In [32]:
commandes.sort_values(ascending = False).head(5)

order_id
926     205.25
1443    160.74
1483    139.00
691     118.25
1786    114.30
Name: item_price, dtype: float64

## On voudrait faire une table contenant une ligne pour chaque plat du menu, avec son prix à l'unité et sa description, qu'on va appeler menu

On commencer par retirer toutes les lignes qui ont fait la même commande avec drop_duplicates.\
Ensuite on divise le prix payé par la quantité commandée, et on en fait une nouvelle colonne \
On peut ensuite laisser de côté la colonne quantity, et l'ancienne colonne item_price  avec drop, en donnant l'argument columns = \['quantity','item_price'\]

In [32]:
#On conserve une commande par item
menu = chipo.drop_duplicates(['item_name'])

#On renormalise les prix à l'unité
prix_unite = menu['item_price'] / menu.quantity

#On replace une nouvelle colonne 
menu['unit_price']= prix_unite
menu.drop(columns = ['quantity', 'item_price'])

<ipython-input-32-20771ccba73b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  menu['unit_price']= prix_unite

,order_id,item_name,choice_description,unit_price
0,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,Izze,[Clementine],3.39
2,1,Nantucket Nectar,[Apple],3.39
3,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.49
6,3,Side of Chips,NaN,1.69
7,4,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
10,5,Chips and Guacamole,NaN,4.45
11,6,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,6,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
16,8,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
18,9,Canned Soda,[Sprite],1.09
21,11,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99
27,14,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99
33,17,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99
34,17,Bottled Water,NaN,1.09
38,18,Chips and Tomatillo Green Chili Salsa,NaN,2.95
39,19,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
40,19,Chips,NaN,2.15
44,20,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
54,25,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.99
56,26,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",9.25
57,26,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
62,28,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
92,40,Steak Crispy Tacos,"[Fresh Tomato Salsa, Sour Cream]",9.25
111,49,Chips and Tomatillo Red Chili Salsa,NaN,2.95
168,75,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
186,83,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
191,85,Chips and Roasted Chili-Corn Salsa,NaN,2.39
233,102,Chips and Roasted Chili Corn Salsa,NaN,2.95
237,103,Carnitas Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",9.25
250,109,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98
263,114,Canned Soft Drink,[Coke],1.25
281,123,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.89
298,129,6 Pack Soft Drink,[Sprite],6.49
300,130,Chips and Tomatillo-Red Chili Salsa,NaN,2.39
445,193,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",7.40
510,214,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",7.40
520,217,Crispy Tacos,[Adobo-Marinated and Grilled Steak],7.40
554,230,Carnitas Crispy Tacos,[Roasted Chili Corn Salsa],9.25
664,276,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99
674,279,Chips and Mild Fresh Tomato Salsa,NaN,3.00
738,304,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1132,468,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
1229,501,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
1414,575,Salad,"[Brown Rice, Adobo-Marinated and Grilled Chick...",7.40
1653,668,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
1694,686,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
3750,1500,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99